.task-table-title {
    height: 30px;
    vertical-align: bottom !important;
}
.task-table-title-completed {
    height: 30px;
    vertical-align: bottom !important;
    text-decoration: line-through;
    color: #9b9b9b;
}
.task-table-moreinfo {
    height: 25px;
    padding-left: 25px;
    font-size: 12px !important;
}

.mat-icon.size-16 {
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 16px !important;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom !important;
}

.mat-icon.star {
    color: #F5A623;
}

.mat-expansion-panel-header.task {
    height: 80px !important;
}

.mat-expansion-panel-header.taskstarred {
    background-color: #FFF2DC;
    height: 80px !important;
}

.task-icon {
    vertical-align: bottom;
    font-size: 16px !important;
}

.task-no-expand {
    height: 10px;
}